*{
  margin:0;
  padding:0;
}
.header{
  /* background-image: linear-gradient(to right, #6366f1 , #3b82f6); */
  background-image: linear-gradient(to right, #cfd0f5 , #6d98dc);
  position: sticky;
  top: 0;
}
.header_wrapper{
  width:calc(100% - 200px);
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
}
.logo p{
  color:white;
  font-weight: 700;
}
.logo p a{
  display: inline-block;
  color:white;
  font-weight: 700;
  text-decoration: none;
}
.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart{
  display: flex;
  align-items: center;
}
.cart_icon_number{
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoheader{
  padding: 12px 0 12px 0;
  text-align: center;
  background-color: #898bd7;
  color:white;
}
.products_container{
  margin-top:100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width:calc(100% - 200px);
  margin-left: 100px;
  row-gap: 60px;
}
.allproduct_container{
  width:calc(100%/3)
}
.productimage{
   height:350px;
   width:350px;
   overflow: hidden;
   box-sizing: border-box;
}
.productimage img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.product_price{
  text-align: left;
}
.product_price p{
  color:green;
  font-weight: 700;
  margin-top: 20px;
  text-align: left;
  margin-right: 30px;
}
.allproduct_container{
  width: 350px;
}
.product_title{
  display: inline-block;
  font-size: 17px;
  margin-top: 15px;
  width: 100%;
}
.add_to_cart_box{
  text-align: center;
}
.add_to_cat_product{
  display: inline-block;
  background-color: rgb(236, 187, 119);
  text-decoration: none;
  padding:10px 20px;
  margin-top: 20px;
}
.single_product{
  margin-top: 50px;
}
.single_product_wrapper{
  display: flex;
  flex-direction: row;
  width:calc(100% - 200px);
  margin-left:100px;
  column-gap: 40px;
}
.single_product_left_section{
  height:600px;
  width:45%;
}
.single_product_right_section{
  width:45%;
}
.single_product_left_section img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.single_product_right_section_header{
  margin-top: 50px;
}
.single_product_right_section_desc{
  margin-top: 20px;
  line-height: 30px;
}
.product_category{
  display: inline-block;
  border:1px solid blue;
  padding:5px 20px;
  border-radius: 15px;
  margin-top: 10px;
  color:blue;
}
.product_price{
  display: inline-block;
  color:green;
  width: 100%;
  font-weight: 800;
  margin-top: 20px;
}
.add_to_cart_button{
  display: inline-block;
  background-color: rgb(236, 187, 119);
  text-decoration: none;
  padding:10px 20px;
  margin-top: 20px;
  cursor:pointer;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 1s all ease-in-out;
}
.add_to_cart_button:hover{
  background-color: rgb(205 176 135);
}
.cartproduct_number{
    display: inline-block;
    color: greenyellow;
    height: 0px;
    width: 20px;
    margin-bottom: 77px;
    margin-left: -10px;
}
.header_cart_box{
  position: fixed;
  background-color: white;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 10;
  transition: 0.8s all ease-in-out;
  padding: 30px 40px 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: scroll;
}
.remove_cartbox_icon{
  display: flex;
  justify-content: right;
}
.hide_cartbox{
  transform: translateX(100%);
}
.no_item_cart{
  margin-top: 20px;
}
.cartproducts_box{
  margin-bottom: 100px;
}
.cartproduct_image{
  height:250px;
  width: 250px;
  overflow: hidden;
}
.cartproduct_image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center; 
}
.cartproduct_wrapper{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.cartproduct_title{
  text-align: center;
  margin-bottom: 10px;
}
.cartproduct_box{
  border-bottom: 1px solid gray; 
  padding-bottom: 30px;
}
.bi-cart4, .cancel_icon{
  cursor: pointer;
}
.auth_button{
  margin-right: 30px;
}
.auth_button a{
  display: inline-block;
  margin-right: 20px;
  color:white;
  text-decoration: none;
}
.signup_form{
  position: relative;
  height: 90vh;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to right, #e4e4ec , #7fb4f2);
}
.signup_form_wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.signup_form_wrapper form{
  padding: 50px;
  width:350px;
}
.signup_form_wrapper form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signup_form_wrapper form input[type='text'],.signup_form_wrapper form input[type='email'],.signup_form_wrapper form input[type='password']{
  padding:8px 20px;
  width:300px;
  margin-top: 5px;
}
.signup_form_wrapper form div{
  margin-bottom: 20px;
}
.signup_submit_button{
  padding:8px 20px;
  border:none;
  /* cursor: pointer; */
}
.pointer_show_buttton{
  cursor: pointer;
}
.pointer_hide_button{
  cursor: not-allowed;
}
.product_quantity{
  text-align: left;
}
.product_quantity button{
  padding: 5px 13px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  background-color: rgb(236, 187, 119);
  font-size: 20px;
  border-radius: 5px;
}
.product_quantity_price{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_cart_price{
  color:green;
  font-weight: 700;
}
.popup{
  position: absolute;
  z-index: 99;
  padding: 20px 40px;
  /* background-image: linear-gradient(to right, #92dcb1 , #1bf10c); */
  background-color: rgb(236, 187, 119);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;
  transition: 0.8s all ease-in-out;
}
.total_amount_cart{
  color:green;
  font-size: 18px;
  font-weight: 600;
}
.amount_pay{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_to_cart_button_pay{
  display: inline-block;
  background-color: rgb(236, 187, 119);
  text-decoration: none;
  padding:10px 20px;
  cursor:pointer;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
.add_to_cart_button_pay:hover{
  background-color: rgb(205 176 135);
}
.product_quantity button:hover{
  background-color: rgb(205 176 135); 
}

.remove_cart_item{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
  text-decoration: underline;
}
.remove_cart_item p{
  cursor: pointer;
  width: max-content;
}
.login_button{
  padding: 13px 40px;
    background-color: white;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: 1s all linear;
}
.login_button:hover{
  background-color: rgb(139, 147, 242);
}
.login_button_container{
  text-align: center;
}
.logout_button{
  display: inline-block;
  color: white;
  cursor: pointer;
}
.logout_button:hover{
  color: blue;
}
.wrong_cred{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.wrong_cred p{
  padding:10px 20px;
  background-color: rgb(236, 187, 119);
  width: max-content;
  font-weight: 600;
}